body {
  background: black;
}
button {
  margin: 100px 150px;
  padding: 5px 20px;
  font-family: cursive;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid greenyellow;
  border-radius: 15px;
  background: greenyellow;
  box-shadow: 0px 0px 10px greenyellow, 0px 0px 20px greenyellow,
    0px 0px 40px greenyellow, 0px 0px 80px greenyellow,
    0px 0px 160px greenyellow;
}
